<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Goods List</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->

</head>

<body>

<h1>Product List</h1>
<div>
    <a th:href="@{/products/form}"
       class="btn btn-primary btn-sm mb-3">
        Add Product
    </a>
    <a th:href="@{/products/filter}"
       class="btn btn-primary btn-sm mb-3">
        Find Product
    </a>


</div>

<div>
        <label>Photos: </label>
        <input type="file" name="images" accept="image/png, image/jpeg" />
        <img src="../static/images/furniture.png" width="150"  th:src="@{images/furniture.png}" />

</div>
<div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Photo </th>
            <th scope="col"> Category </th>
            <th scope="col"> Code </th>
            <th scope="col"> Color </th>
            <th scope="col"> Price </th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${productsList.empty}">
            <td colspan="2"> No Products Available </td>
        </tr>
        <tr th:each="product : ${productsList}"
            scope="row">

            <td><span th:text="${product.id}"> Id </span></td>
<!--            Hardcodēta vērtība pievieno vienu konkrētu bildi pēc atrasšanās vietas-->
<!--            <td><img src="../static/images/furniture.png" width="500"  th:src="@{images/furniture.png}" /></td>-->
<!--            Pievieno bildi caur datubāzi, kurā norāda /images/bildes nosaukums.jpg-->
<!--            <td><img width="100"  th:src="@{${product.image}}" /></td>-->
<!--            Pievieno bildi no static foldera kuru tikko saglabāja-->
            <td><img  width="100"  th:src="@{${product.image}}" /></td>
            <td><span th:text="${product.category}"> Category </span></td>
            <td><span th:text="${product.code}"> Goods Code </span></td>
            <td><span th:text="${product.color}"> Color </span></td>
            <td><span th:text="${product.price}"> Price </span></td>
            <td>
                <a th:href="@{/products/formForUpdate(productID=${product.id})}"
                   class="btn btn-info btn-sm mb-3">
                    Update
                </a>

                <a th:href="@{/products/delete(productId=${product.id})}"
                   class="btn btn-danger btn-sm mb-3"
                   onclick="if ( !(confirm('Are you sure you want to delete this product?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>